<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="preload" href="{{ url_for('static', filename='images/homebgbig.jpg') }}" as="image">
        <title>Techive {% block title %}{% endblock %}</title>
    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <div class="logoDiv">
                    <a href="/"><img src="/static/images/brand.png" class="brand"/></a>
                    
                    <a href="/" class="logo d-none d-md-inline">Techive</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    {% if session.get("user_id") %}
                    <div class="navbar-nav ms-auto ancLinks">
                        <a class="nav-link" aria-current="page" href="/create">Create</a>
                        <a class="nav-link" href="/allposts">All</a>
                        <a class="nav-link" href="/myposts">My Posts</a>
                        <a class="nav-link" href="/category">Categories</a>
                        <a class="nav-link" href="/creators">Creators</a>
                        <a class="nav-link" href="/logout">Logout</a>
                        <form action="/allposts" method="get" style="display: inline;" class="searchbox">
                            <input type="text" name="q" placeholder="Search posts..." autocomplete="off" required>
                            <!-- <button type="submit">Search</button> -->
                        </form>    
                        <a href="/progress"><i class="fa fa-user"></i></a>                    
                    </div>
                    {% else %}
                    <div class="navbar-nav ms-auto ancLinks">
                        <a class="nav-link" aria-current="page" href="/signup">Sign up</a>
                        <a class="nav-link" href="/login">Login</a>
                      </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main class="container-fluid">
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div>
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                            <button class="close" onclick="this.parentElement.style.display='none'">&times;</button>
                        </div>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            {% block scripts %}{% endblock %}
        </main>

        <footer>
            {# {% if is_authenticated %} 
                <div>COMMENT! Put footer here</div>
                {% endif %}
            #}


            {% if not is_authenticated %} 
            <div class="joinus">
                <div>
                    <h2>Join our Tech <span class="community">Community</span> Today</h2>
                    <a href="/signup" class="btn btn-dark join">Click to Join</a>
                </div>
            </div>
            {% endif %}


            <div class="categorygrid categorygridEl1">
                <div class="imgDiv">
                    <img src="/static/images/techivecategories.jpg" alt="Catgories of post">
                </div>
                <div class="textEl">
                    <p>300+ Post Categories</p>
                    <p>Techive provides a robust system that is easy to use and capable of sharing even the most complicated stories.</p>
                    <p>
                        <a href="/allposts">Check out our stories.</a>
                    </p>
                </div> 
            </div>

            <div class="categorygrid categorygridEl2">
                <div class="textEl">
                    <p>A world-class sharing, reading, and listening experience</p>
                    <p>Techive's simple system lets you create, edit, detele and share your story as a developer with others.</p>
                    <p>
                        <a href="/creators">See other developers.</a>
                    </p>
                </div>
                <div class="imgDiv blueBgImg">
                    <img src="/static/images/bluebg.png" alt="Our experience">
                </div>
            </div>

            <div class="testimonial">
                <div>
                    <p>"Joining Techive was the best decision of my life."</p>
                    <p>-- Paul Thomas, React Developer</p>
                    <p>
                        <a href="/create" class="startBtn">Share your Story</a>
                    </p>
                </div>
            </div>

            <div class="footer">
                <div class="grid">
                    <div>
                        <h5>Help</h5>
                        <div>
                            <a href="/progress">Help Center</a>
                            <a href="/progress">Help Forum</a>
                            <a href="/progress">Video Tutorials</a>
                            <a href="/progress">Contact Us</a>
                        </div>
                    </div>
                    <div>
                        <h5>Community</h5>
                        <div>
                            <a href="/progress">Blogger Buzz</a>
                            <a href="/progress">Tech News</a>
                            <a href="/progress">Tech Trends</a>
                        </div>
                    </div>
                    <div>
                        <h5>Developers</h5>
                        <div>
                            <a href="/progress">Blogger API</a>
                            <a href="/progress">Developer Forum</a>
                            <a href="/progress">GitHub</a>
                            <a href="/progress">LinkedIn</a>
                        </div>
                    </div>
                    <div>
                        <h4>Techive</h4>
                        <p class="about">Your go-to platform for sharing and exploring insightful tech content.
                            At Techive, we believe in the power of technology to transform lives, industries, and communities.
                            Our mission is to create a space where tech enthusiasts, professionals, and curious minds can connect, 
                            share ideas, and stay updated on the ever-evolving world of technology.
                        </p>
                        <a href="/progress" class="privacy">Terms of Privacy</a>

                    </div>
                </div>
            </div>
            
        </footer>
    </body>
</html>
