{% extends "layout.html" %}


{% block title %}
    Login
{% endblock %}


{% block body %}
    <div class="signupFlex">
        <div class="signupLeftDiv">
            <h1>Welcome</h1>
            <img src="/static/images/space.jpg" alt="Our experience"/>
            <p>At Techive, we provides a robust system that is easy to use and capable of sharing even the most complicated stories.</p>
        </div>
        <div class="signupRightDivBox">
            <div class="signupRightDiv">
                <h3>Login to Techive</h3>
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="namelb" class="form-label">Username</label>
                        <input type="text" class="form-control " id="namelb" name="name" autocomplete="off" autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="passwordlb" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordlb" name="password" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-info">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
