{% extends "layout.html" %}


{% block title %}
    Sign Up
{% endblock %}


{% block body %}
    <div class="signupFlex">
        <div class="signupLeftDiv">
            <h1>Welcome</h1>
            <img src="/static/images/space.jpg" alt="Our experience"/>
            <p>At Techive, we provides a robust system that is easy to use and capable of sharing even the most complicated stories.</p>
        </div>
        <div class="signupRightDivBox">
            <div class="signupRightDiv">
                <h3>Sign Up to Techive</h3>
                <form action="/signup" method="post">
                    <div class="mb-3">
                        <label for="namelb" class="form-label">Name</label>
                        <input type="text" class="form-control" id="namelb" name="name" autocomplete="off" autofocus class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="passwordlb" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordlb" name="password" autocomplete="off" autofocus class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="confirmpasswordlb" class="form-label">Re-enter Password</label>
                        <input type="password" class="form-control" id="confirmpasswordlb" name="confirmpasswordlb" autocomplete="off" autofocus class="form-control" >
                    </div>
                    <button type="submit" class="btn btn-info">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
